* {
  margin: 0;
  font-family: 'Ubuntu Mono', monospace;
}

body {
  background-color: black;
}

.navbar {
  position: fixed;
  width: 100%;
  padding-top: 15px;
  z-index: 1;
  background-color: black;
  opacity: 0.9;
  -moz-box-shadow: 0 8px 6px -6px rgba(0,0,0,0.3);
  -webkit-box-shadow: 0 8px 6px -6px rgba(0,0,0,0.3);
  box-shadow: 0 8px 6px -6px rgba(0,0,0,0.3);
}

.navbar a {
  text-decoration: none;
  color: #858585;
  font-size: 20px;
  padding: 7px;
  text-align: center;
  display: block;
  float: left;
}

.navbar a:hover {
  color: white;
}

.navbar-left {
  float: left;
  padding-left: 15px;
}

.navbar-right {
  float: right;
  padding-right: 15px;
  overflow: hidden;
}

.navbar-right .icon {
  display: none;
}

@media screen and (max-width:600px) {
  .navbar-right a {
    display: none;
  }
  .navbar-right a.icon {
    display: block;
    float: none;
  }
}

@media screen and (max-width:600px) {
  .navbar-right.responsive {
    position: relative;
  }
  .navbar-right.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .navbar-right.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

.landing {
  width: 77vw;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 0 auto;
  padding: 25vh 0 10vh 0;
}

.welcome-and-pic {
  height: 100%
}

.welcome-and-pic img {
  height: 63vh;
  padding-top: 15vh;
}

#welcome {
  color: white;
  font-size: 8vh;
}

#welcome::after {
  content: "";
  right: -15px;
  display: inline-block;
  background-color: #606060;
  vertical-align: top;
  width: 3vw;
  height: 8vh;
  -webkit-animation: blink 1s step-end infinite;
  animation: blink 1s step-end infinite;
}

@-webkit-keyframes blink {
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}

@keyframes blink {
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}

.bio-pic img{
  height: 18%;
}

.bio-pic-mobile img {
  display: none;
}

.bio-text {
  color: white;
  font-size: 3vh;
  width: 330px;
}

.bio-text p {
  margin: 20px 0 20px 0;
}

@media screen and (max-width:1050px) {
  .welcome-and-pic {
    height: 8vh;
  }
  
  .welcome-and-pic img {
    display: none;
  }

  .bio-text {
    width: 100%;
    margin: 10px;
  }

  .bio-pic-mobile {
    width: 100%;
    height: 60%
  }

  .bio-pic-mobile img {
    display: block;
    height: 60vh;
    margin: 0 auto;
  }
}

@media screen and (max-width:650px) {
  .bio-pic-mobile img {
    height: 50vh;
  }
}

.experience {
  color: white;
  width: 77vw;
  margin: 0 auto;
  text-align: right;
  padding-right: 10%;;
}

.experience h1 {
  font-size: 3vh;
  padding-right: 15%;
}

.experience h3 {
  font-size: 4.5vh;
  padding-right: 10%;
  margin: 35px 0 50px;
}

.experience-section {
  display: flex;
  justify-content: space-evenly;
  padding: 30px 0 30px 0;
}

.title {
  text-align: right;
  width:40%;
}

.experience-section .examples {
  width: 40%;
}