* {
  margin: 0;
}

body {
}

.navbar {
  position: fixed;
  width: 100%;
  padding-top: 15px;
  overflow: hidden;
}

.navbar a {
  text-decoration: none;
  color: #858585;
  font-size: 20px;
  margin: auto;
  padding: 7px;
}

.navbar a:hover {
  color: black;
}

.navbar-left {
  float: left;
  padding-left: 15px;
}

.navbar-right {
  float: right;
  padding-right: 15px;
}

.icon {
  display: none;
}

@media screen and (max-width:600px) {
  .navbar-right a {
    display: none;
  }
  .navbar-right a.icon {
    display: block;
  }
}

.landing {
  position: relative;
  top: 150px;
  text-align: center;
}
