* {
  margin: 0;
}

body {
  background-color: whitesmoke;
}

.navbar {
  position: fixed;
  width: 100%;
  padding-top: 15px;
  background-color: whitesmoke;
  z-index: 1;
}

.navbar a {
  text-decoration: none;
  color: #858585;
  font-size: 20px;
  padding: 7px;
  text-align: center;
  display: block;
  float: left;
}

.navbar a:hover {
  color: black;
}

.navbar-left {
  float: left;
  padding-left: 15px;
}

.navbar-right {
  float: right;
  padding-right: 15px;
  overflow: hidden;
}

.navbar-right .icon {
  display: none;
}

@media screen and (max-width:600px) {
  .navbar-right a {
    display: none;
  }
  .navbar-right a.icon {
    display: block;
    float: none;
  }
}

@media screen and (max-width:600px) {
  .navbar-right.responsive {
    position: relative;
  }
  .navbar-right.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .navbar-right.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

.landing {
  position: relative;
  top: 200px;
  width: 95%;
  margin: auto;
}

.bio {
  position: relative;
  top: 350px;
  display: flex;
  flex-flow: row wrap;
}

.bio-text {
  background-color: black;
  height: 450px;
  flex-grow: 1;
}

.bio-pic img {
  flex-grow: 1;
  height: 400px;
}

@media screen and (max-width:600px) {
  .bio-text {
    flex: 1 100%;
    order: 2;
  }
  .bio-pic {
    flex: 1 100%;
    order: 1;
  }

}
