* {
  margin: 0;
  font-family: 'Raleway', sans-serif;
}

body {
  background-color: whitesmoke;
}

.navbar {
  position: fixed;
  width: 100%;
  padding-top: 15px;
  z-index: 1;
  background-color: whitesmoke;
}

.navbar a {
  text-decoration: none;
  color: #858585;
  font-size: 20px;
  padding: 7px;
  text-align: center;
  display: block;
  float: left;
}

.navbar a:hover {
  color: black;
}

.navbar-left {
  float: left;
  padding-left: 15px;
}

.navbar-right {
  float: right;
  padding-right: 15px;
  overflow: hidden;
}

.navbar-right .icon {
  display: none;
}

@media screen and (max-width:600px) {
  .navbar-right a {
    display: none;
  }
  .navbar-right a.icon {
    display: block;
    float: none;
  }
}

@media screen and (max-width:600px) {
  .navbar-right.responsive {
    position: relative;
  }
  .navbar-right.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .navbar-right.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

.landing {
  position: relative;
  top: 110px;
  padding-left: 30px;
}

.content {
  position: relative;
  top: 220px;
  display: flex;
  flex-flow: row wrap;
}

#opener {
  text-align: center;
}

.bio-text {
  flex-grow: 1;
  width: 50%;
}

.bio-text p {
  padding: 15px 30px 15px 30px;
  font-size: 20px;
}

.bio-pic {
  flex-grow: 1;
  justify-content: center;
  margin: auto;
}

.bio-pic img {
  width: 50vw;
  display: block;
}

@media screen and (max-width:600px) {
  .bio-text {
    flex: 1 100%;
    order: 2;
  }
  .bio-pic img{
    flex: 1 100%;
    order: 1;
    width: 100vw;
  }
}

.work {
  width: 100vw;
  height: 500px;
  background-color: #baced6;
  order: 3;
}
