* {
  margin: 0;
  font-family: 'Ubuntu Mono', monospace;
}

body {
  background-color: black;
}

.navbar {

  position: fixed;
  width: 100%;
  padding-top: 15px;
  z-index: 1;
  background-color: black;
  opacity: 0.9;
  -moz-box-shadow: 0 8px 6px -6px rgba(0,0,0,0.3);
  -webkit-box-shadow: 0 8px 6px -6px rgba(0,0,0,0.3);
  box-shadow: 0 8px 6px -6px rgba(0,0,0,0.3);
}

.navbar a {
  text-decoration: none;
  color: #858585;
  font-size: 20px;
  padding: 7px;
  text-align: center;
  display: block;
  float: left;
}

.navbar a:hover {
  color: white;
}

.navbar-left {
  float: left;
  padding-left: 15px;
}

.navbar-right {
  float: right;
  padding-right: 15px;
  overflow: hidden;
}

.navbar-right .icon {
  display: none;
}

@media screen and (max-width:600px) {
  .navbar-right a {
    display: none;
  }
  .navbar-right a.icon {
    display: block;
    float: none;
  }
}

@media screen and (max-width:600px) {
  .navbar-right.responsive {
    position: relative;
  }
  .navbar-right.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .navbar-right.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

.landing {
  position: relative;
  background-color: black;
  width: 100vw;
  height: 100vh;
}

#welcome {
  position: absolute;
  color: white;
  font-size: 8vh;
  left: 15%;
  top: 20%;
}

#welcome::after {
  content: "";
  right: -15px;
  display: inline-block;
  background-color: #606060;
  vertical-align: top;
  width: 3vw;
  height: 8vh;
  -webkit-animation: blink 1s step-end infinite;
  animation: blink 1s step-end infinite;
}

@-webkit-keyframes blink {
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}

@keyframes blink {
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}

.bio {
  position: absolute;
  top: 40%;
  left: 15%;
  display: flex;
}

.bio-pic {
  flex-grow: 2;
}

.bio-pic img{
  height: 20%;
}

.bio-text {
  position: absolute;
  color: white;
  font-size: 3vh;
  right: 7%;
  top: 19%;
  max-width: 30%;
}

.bio-text p {
  margin: 20px 0 20px 0;
}