* {
  margin: 0;
  font-family: 'Raleway', sans-serif;
}

body {
  background-color: white;
}

.navbar {
  position: fixed;
  width: 100%;
  padding-top: 15px;
  z-index: 1;
  background-color: white;
  -moz-box-shadow: 0 8px 6px -6px rgba(0,0,0,0.3);
  -webkit-box-shadow: 0 8px 6px -6px rgba(0,0,0,0.3);
  box-shadow: 0 8px 6px -6px rgba(0,0,0,0.3);
}

.navbar a {
  text-decoration: none;
  color: #858585;
  font-size: 20px;
  padding: 7px;
  text-align: center;
  display: block;
  float: left;
}

.navbar a:hover {
  color: black;
}

.navbar-left {
  float: left;
  padding-left: 15px;
}

.navbar-right {
  float: right;
  padding-right: 15px;
  overflow: hidden;
}

.navbar-right .icon {
  display: none;
}

@media screen and (max-width:600px) {
  .navbar-right a {
    display: none;
  }
  .navbar-right a.icon {
    display: block;
    float: none;
  }
}

@media screen and (max-width:600px) {
  .navbar-right.responsive {
    position: relative;
  }
  .navbar-right.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .navbar-right.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

.landing {
  position: relative;
  top: 50px;
}

.landing img{
  width: 100vw;
}

.landing-text {
  position: absolute;
  bottom: 30%;
  color: white;
  padding-left: 30px;
}

.landing-title {
  font-size: 5vw;
}

.landing-position {
  font-size: 3vw;
}

.section-title {
  font-size:50px;
  padding: 30px 0 0 30px;
}

.content {
  position: relative;
  top: 80px;
  display: flex;
  flex-flow: row wrap;
}

#opener {
  text-align: center;
  font-size: 25px;
}

.bio-text {
  flex-grow: 1;
  width: 50%;
  justify-content: center;
  margin: auto;
}

.bio-text p {
  padding: 15px 30px 15px 30px;
  font-size: 20px;
}

.bio-pic {
  flex-grow: 1;
  justify-content: center;
  margin: auto;
  padding-bottom: 10px;
}

.bio-pic img {
  width: 35vw;
  display: block;
  margin: auto;
}

@media screen and (max-width:600px) {
  .bio-text {
    flex: 1 100%;
    order: 2;
  }
  .bio-text p{
    font-size: 15px;
  }
  #opener {
    font-size: 20px;
  }
  .bio-pic img{
    flex: 1 100%;
    order: 1;
    width: 50vw;
    margin: auto;
  }
}

#experience {
  width: 100vw;
  height: 500px;
  -background-color: #e3e2ff;
  background-color: whitesmoke;
  order: 3;
}

.job {
  width: 95%;
  float: right;
  display: flex;
  flex-flow: row wrap;
  padding: 30px 0 30px 0;
}

.job-heading {
  flex-grow: 1;
}

.job-heading h1{
  font-size: 25px;
}

.job-content {
  flex-grow: 3;
}
