* {
  margin: 0;
}

.navbar {
  background: white;
  position: fixed;
  width: 100%;
  padding-top: 15px;
}

.navbar a {
  text-decoration: none;
  color: black;
  font-size: 20px;
}

.navbar-left {
  float: left;
  padding-left: 15px;
}

.navbar-right {
  float: right;
  padding-right: 15px;
}

.navbar-right a {
  padding: 5px;
}

.landing {
  position: relative;
  top: 150px;
  text-align: center;
}
