* {
  margin: 0;
}

.header {
  background: #bfe2ee;
  position: fixed;
  width: 100%;
  z-index: 2;
}

.top-background {
  position: relative;
}

.mountains {
  width: 100%;
  opacity: 0.5;
  position: absolute;
  z-index: -1;
}

.me {
  width: 25%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 100px;
}

.header-text {
  text-align: center;
}
